.main-h {
    background-color: #d0deb5;

}

.heading {
    background-color: antiquewhite;
}


.main-h-p {
    border: 2px solid #eaa8c4;
    
}

.header-img{
    width: auto;
    height: 450px;
    background-size: contain;
}