.main-h {
    background-color: #d0deb5;
    height: 400px;

}

.heading {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-h-p {
    border: 2px solid #eaa8c4;
    
}

.header-img{
    width: auto;
    height: 450px;
    background-size: contain;
}

.main-crochet {
    background-image: url("../img/main-crochet.jpg");
    background-size: contain;
}

.main-knitting {
    background-image: url("../img/main-knittin.jpg");
     background-size: contain;
}

.main-sheep {
    background-image: url("../img/main-sheep.jpg");
}


.main-story {
    background-image: url("../img/main-story.jpg");
    background-size: contain;
}

.main-what {
    background-image: url("../img/main-what-next.jpg");
    background-size: contain;
}

.main-yarn {
    background-image: url("../img/main-yarn.jpg");
    background-size: contain;
}

.main-news {
    object-fit: cover;
    width: 100%;
    row-gap: 20px;
}

